* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto, Arial, sans-serif;

}

body {
	background-color: transparent;
}

.headerNav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	padding: 12px 28px;
	background-color: transparent;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-bottom: 1px solid #ddd;
	position: sticky;

}

.flipkartlogo {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	gap: 148px;
}

.searchBox {
	padding: 5px;
	width: 403px;
	border: 1px solid #ddd;
	border-style: none;
	padding-left: 10px;
	margin-left: 20px;
	background-color: #F2F6FC;
	width: 40%;

}

.search input {
	border-style: none;
	width: 350px;
	outline: none;
	font-size: 17px;
	font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
	background-color: #F2F6FC;
}

.searchIcon span {
	cursor: pointer;
}

.searchCont {
	display: flex;
	align-items: center;
	gap: 10px;
}

.headerSideIcons {
	display: flex;
	align-items: center;
	gap: 41px;
}
.account{
	display:flex; 
	align-items:center; 
	gap:5px;
	cursor:pointer;
}
.accountIcon{
	display:flex; 
	align-items:center; 
	gap:8px;
	
}
.cart{
	display:flex; 
	align-items:center; 
	gap:5px;
	cursor:pointer;
}
.cartSet{
	text-decoration:none;
	outline:none;
	color:#000000;
}
.seller{
	display:flex;
 	align-items:center; 
	gap:5px;
	cursor:pointer;
}
.threeIcons{
	cursor:pointer;
}
.grocery {
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	box-sizing: content-box;
}
.groceryTxt p{
	font-size:14px;
	color:#333333;
}
.mobiles {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	text-decoration: none;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;

}
.mobileTxt p{
	font-size:14px;
	color:#333333;
}
.fashion {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	text-decoration: none;
	box-sizing: content-box;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
}

.fashions {
	display: flex;
	
}
.fashionTxt p{
	font-size:14px;
	color:#111112;
}

.electronics {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;
}

.electronic {
	display: flex;
	
}
.electronicTxt p{
	font-size:14px;
	color:#111112;
}
.furniture {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;
}

.furnitureSet img {
	padding-left: 50px;
}

.homeFurn {
	display: flex;
	
}
.homeFurnTxt p{
	font-size:14px;
	color:#111112;
}
.appliances {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;
}
.appliancesSet{
	text-decoration:none;
	outline:none;
}
.appliancesTxt p{
	font-size:14px;
	color:#333333;
	text-decoration:none;
}

.travel {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;
}
.travelTxt p{
	font-size:14px;
	color:#333333;
}
.toys {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;

	box-sizing: content-box;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
}

.toysSet img {
	padding-left: 50px;
}

.beautyToys {
	display: flex;
	
}
.beautyToysTxt p{
	font-size:14px;
	color:#111112;
}
.twoWheeler {
	min-width: 90px;
	padding: 16px;
	cursor: pointer;
	display: flex;
    	flex-direction: column;
    	gap: 10px;
	box-sizing: content-box;
}

.twoWheelers {
	display: flex;
	
}

.twoWheelerSet img {
	padding-left: 30px;
}
.twoWheelersTxt p{
	font-size:14px;
	color:#111112;
}
.headerSecond {
	display: flex;
	border: 0px solid black;
	box-sizing: border-box;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-bottom: 1px solid #ddd;
}

.items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	align-items: baseline;
}

.addImg {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	cursor:pointer;
}

/*.leftButton {
	display: flex;

	width: 40px;
	background-color: #fff;
	height: 88px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .12);

}*/

.mainSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftButton {
	display: flex;
	position: absolute;
	width: 40px;
	background-color: #fff;
	height: 88px;
	top: 0px;
	left: 8px;
	margin: auto 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
	border-style: none;
	background-color: #fff;
	align-items:center;
	justify-content:center;
	bottom: 0px;
	
	
}

.leftButton span {
	color: #A9A9A9;
}

.rightButton {
	display: flex;
	position: absolute;
	width: 40px;
	background-color: #fff;
	height: 88px;
	top: 290px;
	right: 7px;
	margin: auto 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
	border-style: none;
	background-color: #fff;
	align-items:center;
	justify-content:center;
}

.rightButton span {
	color: #A9A9A9;
}

.secondMain {
	display: flex;
	padding-left: 19px;
	margin-top: 20px;
	flex-direction: column;
	
}

.secondMainSection {
	display: flex;
	align-items: center;
	gap: 775px;
	padding-left: 7px;
}

.smartPhoneImages {
	display: flex;
	align-items: center;
	gap: 10px;
}
.bestdeals{
	display:flex; 
	gap:750px;
	cursor:pointer;
}
.endIcon {
	border: 1px solid #ddd;
	border-radius: 16px;
	padding-left: 2px;
	background-color: #2a55e5;

}

.endIcon span {
	color: white;
}

.smartPhones {
	display: flex;
}

.smartPhoneImages {
	display: flex;
	cursor:pointer;
}

.mobileadds {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor:pointer;
	margin-top:10px;
}

.thirdMainSection {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	cursor:pointer;
}
.fourthMainSection{
	display:flex; 
	flex-direction:column; 
	gap:10px;
	cursor:pointer;
}
.smartGadgets{
	display:flex;
	justify-content:space-between; 
	align-items:center; 
	margin-top:15px;
	cursor:pointer;

}
.gadgets {
	display: flex;
	align-items: center;
}

.gadgetsImages {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor:pointer;
}

.dell h5 {
	font-size: 14px;
	color: #212121;
	padding: 8px 8px 0px;
	font-weight: 400;
	font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;

}

.rupee {
	display: flex;
	justify-content: center;
}

.fourth {
	display: flex;
	flex-direction:column;
	cursor:pointer;
}

.suggestions {
	display: flex;
	/* align-items: center; */
	align-items:center; 
	gap:220px; 
	margin-top:10px;
}
.pcImagesSet{
	display:flex;
	margin-top:15px; 
	gap:10px;
}
.pcImageOne {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 514.5px;

}
.rupeeSet{
	font-size: 14px; 
	color: #666666; 
	margin: 0px 6px;
}
.secondRupees p{
	color: #212121; 
	font-weight: 600; 
	font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
 	margin: 0px 6px 0px 0px;
}
.off p{
	color:#108934; 
	margin:0px 6px 0px 0px;
}
.month p{
	font-size: 14px; 
	color: #108934; 
	display: flex; 
	justify-content: center; 
	font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}	
.pcImageThird {
	height: 253px;
}

.debitCardImage img {
	width: 99%;
	margin-top:15px;
}
.fifth{
	display:flex; 
	flex-direction:column; 
	gap:10px;
	cursor:pointer;
}
.cricket{
	display:flex; 
	align-items:center; 
	gap:200px; 
	margin-top:10px; 
}
.offerr{
	display:flex; 
	gap:10px;
	cursor:pointer;
}
.nxt{
	 display:flex; 
	
}
.offerImages{
	display:flex;
	 align-items:flex-start; 
	cursor:pointer;
}
.offerImagesNxt{
	display:flex;
	 align-items:flex-start; 
}
.offerImagesSnd{
	display:flex;
	 align-items:flex-start; 
}
.footerFirst {

	margin-top: 25px;
}

.footerFirstSection {
	color: #666;
	background-color: #f5f5f5;
	margin: 0 auto;
	text-align: left;
	padding: 25px;
	line-height: 1.5;
	cursor:pointer;
}

.topStories {
	color: #565656;
	font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
	margin-top: 14px;
	padding: 14px 0;
	font-size: 16px;
}

.mostSearch {
	margin: 4px 0;
	line-height: 1.5;
}

.mostSearchContents {
	font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
	color: #565656;
	font-size: 14px;
}

.mobTxt {
	color: #565656;
	padding: 0 5px;
	border-right: 1px solid #333;
	font-size: 12px;
}

.mostsearchTxt span {
	color: #565656;
	text-transform: uppercase;
	margin-right: 4px;
	font-size: 14px;
}

.mobTxtLast {
	color: #565656;
	padding: 0 5px;
	font-size: 12px;
}
.flipkartContents{
	padding: 30px;
    color: #878787;
    background-color: #f5f5f5;

}
.flipkartMainContents{
	line-height: 16px;
    font-size: 12px;
}
.paras h4{
	font-size: 16px;
    margin-bottom: 10px;
}
.footer {
	background-color: #172337;

}

.footerSection {
	margin-left: 65px;
	width: 90% !important;
	padding-top: 40px;
	display: flex;
	gap: 38px;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.aboutSecTxt {
	color: #878787;
	font-size: 12px;
}
.aboutSec p{
	cursor:default;
}

.aboutBelow {
	color: #ffffff;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.aboutBelow p{
	cursor:pointer;
}
.aboutBelow p:hover{
	color:white;
	text-decoration:underline;
}

.groupCompany {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.groupSec p{
	cursor:default;
}
.groupSecTxt {
	color: #878787;
	font-size: 12px;
}

.groupBelow {
	color: #ffffff;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.groupBelow p{
	cursor:pointer;
}
.groupBelow p:hover{
	color:white;
	text-decoration:underline;
}

.help {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.helpSec p{
	cursor:default;
}
.helpSecTxt {
	color: #878787;
	font-size: 12px;
}

.helpBelow {
	color: #ffffff;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.helpBelow p{
	cursor:default;
}
.helpBelow p:hover{
	color:white;
	text-decoration:underline;
}
.consumer {
	display: flex;
	flex-direction: column;
	gap: 15px;

}
.consumerSec p{
	cursor:default;
}
.consumerSecTxt {
	color: #878787;
	font-size: 12px;
}

.consumerBelow {
	color: #ffffff;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.consumerBelow p{
	cursor:pointer;
}
.consumerBelow p:hover{
	color:white;
	text-decoration:underline;
}
.line {
	border: 1px solid #454d5e;
	margin-left: 10px;
}

.mailUs {
	display: flex;
	flex-direction: column;
	gap: 15px;

}
.mailUs p{
	cursor:default;
}
.mailSecTxt {
	color: #878787;
	font-size: 12px;
}

.mailBelow {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.5
	cursor:default;
}

.social p {
	color: #878787;
	font-size: 12px;
	cursor:default;
}

.socialIcons {
	display: flex;
	align-items: center;
	gap: 15px;
}
.socialIcons img{
	cursor:pointer;
}

.registeredOffice {
	display: flex;
	flex-direction: column;
	gap: 15px;

}
.registeredOfficeSec p{
	cursor:default;
}
.registeredOfficeSecTxt {
	color: #878787;
	font-size: 12px;
}

.registeredOfficeBelow {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.5;
	cursor:default;
}

.registeredOfficeBelow a {
	text-decoration: none;
	color: #2874F0;
}

.footerBelow {
	border-top: 1px solid #454d5e;
	padding: 25px 0;
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.aSeller{
	display:flex; 
	align-items:center;
}
.advertise{
	display:flex; 
	align-items:center;
}
.giftCard{
	display:flex; 
	align-items:center;
}
.helpCenter{
	display:flex; 
	align-items:center;
}
.corporate{
	display:flex; 
	align-items:center;
}
.cards{
	display:flex; 
	align-items:center;
}
.footerBelow a {
	text-decoration: none;
	color: white;
}

.footerBelowSet {
	display: flex;
	font-size: 14px;
	gap: 30px;
}

.corporate {
	color: white;
}
.corporate p{
	cursor:default;
}
.dropdown span {
	font-size: 15px;
	margin-top: 2px;

}
.flipkartContents{
	cursor:default;
}
.footerBelowSet img{
	cursor:default;
}
.paras a{
	text-decoration:none;
	outline:none;
	color:#2874f0;
}