* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto, Arial, sans-serif;

}

.headerNav {
	display: flex;
	background-color: #2874f0;
	padding: 10px;
}

.headerNavFirst {
	display: flex;
	padding-left: 155px;
}

.flipkartlogo {
	cursor: pointer;
}

.explore {
	display: flex;
	align-items: center;
}

.explore a {
	text-decoration: none;
}

.explore p {
	font-style: italic;
	color: white;
	font-size: 12px;

}

.explore p:hover {
	text-decoration: underline;
}

.plus {
	color: yellow;
}

.main {
	background-color: #f1f3f6;
}

.mainBody {
	max-width: 1260px;
	margin: 0 auto;
	background-color: #f1f3f6;
	display: flex;
	gap: 15px;
}

.mainSection {
	padding: 8px;
	width: 70%;
	margin-top:10px;

}

.mainSectionFirst {
	display: flex;
	background-color: white;
	justify-content: space-between;
	padding: 16px 24px;
	border-bottom: 1px solid #ddd;
	cursor:default;
}

.login {
	display: flex;
}

.number {
	margin: 0px 17px 0px 0px;
	border: 1px solid #ddd;
	color: #2874f0;
	width: 20.69px;
	height: 20px;
}

.one {
	padding-left: 6px;
	font-size: 12px;

}

.logTxt {
	display: flex;
	flex-direction: column;
	cursor:default;
	
}

.log {
	color: #878787;
	font-size: 16px;
	font-weight:600;
	margin-bottom: 6px;
}


.changeBtn {
	padding: 0px 32px;
	background-color: #ffffff;
	color: #2874f0;
	border-style: none;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	font-weight: 600;
}

.mainSectionSecond {
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
	background-color: white;
	cursor:default;
}

.mainSectionSecondContents {
	padding: 14px 24px;
	display: flex;
	justify-content: space-between;
}

.numberSd {
	font-size: 12px;
	color: #2874f0;
	background-color: #f0f0f0;
	border-radius: 2px;
	padding: 3px 7px;

	margin-right: 17px;
}

.deltxtFt {
	font-size: 16px;
	color: #878787;
	font-weight: 600;
	cursor:default;
}


.address {
	padding: 16px 24px;
	display: flex;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

.deltxtSd {
	display: flex;
	font-size: 14px;
	padding-top: 8px;
	color: #212121;
}

.secondCont {
	display: flex;
}
.mainSectionThird{
	display:flex;
	cursor:default;
}
.mainSectionThirdContents{
	display:flex;
}
.ThirdCont{
	display:flex;
	align-items:center;
}
.mainSectionSecond {
	margin-top: 20px;
}

.mainSectionFourthContents {
	padding: 14px 24px;
	background-color: #2874f0;
	cursor:default;
}

.numberSd {
	font-size: 12px;
	color: #2874f0;
	background-color: #f0f0f0;
	border-radius: 2px;
	padding: 3px 7px;

	margin-right: 17px;
}

.deltxt {
	font-size: 16px;
	color: white;
	font-weight: 600;
}

.mainSectionFourth {
	
	margin-top:20px;
}

.address {
	padding: 16px 24px;
	display: flex;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

.addressMain {
	margin-left: 18px;


}
.paymentDetails{
	display: flex;
    
    padding-top: 10px;
}
.upi{
	padding-top:3px;
}
.upi input{
	cursor:pointer;
}
.upiLogo{
	display: flex;
}
.upiLogo img{
	cursor:pointer;
}
.paymentSet{
	display: flex;
	background-color:white;
	border-bottom: 1px solid #ddd;
    padding: 16px 25px;
}
.upiOptions{
	padding-left: 15px;
    padding-top: 8px;
}
.upiLogo{
	display:flex;
	gap:20px;
}
.upiCont{
	display: flex;
    flex-direction: column;
    gap: 10px;
}
.upiCont span{
	font-size:14px;
	cursor:default;
}
.upi span{
	cursor:pointer;
}
.choose{
	font-size:14px;
	cursor:default;
	color:#212121;
}
.options{
	display: flex;
    flex-direction: column;
    gap: 10px;
}
.options span{
	font-size:14px;
}
.app span{
	color:#878787;
	font-size:14px;
}
.upiLogoSd{
	display:flex;
	gap:20px;
	align-items:center;
}
.upiLogoSd img{
	cursor:default;
}
.upiOptionsSet{
	display: flex;
    flex-direction: column;
	cursor:pointer;
    gap: 10px;
}
.id span{
	font-size:14px;
}
.mainSectionFifth{
	display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.upi span{
	color:#878787;
}
.secondSection {
	padding: 0px 0px 0px 16px;
	margin-top: 10px;
	width:30%;

}

.secondSectionFirst {
	margin-top: 12px;
	background-color: white;
	cursor:default;
}

.price {
	padding: 13px 0px;
	font-weight: 600;
}

.price span {
	padding: 13px 24px;
	color: #878787;
	font-size: 14px;

}

.amount {
	display: flex;
	margin: 20px 0;

}

.amountDetails {
	display: flex;
	margin-top: 20px;

	align-items: flex-start;
	justify-content: space-between;
}

.amountSet {
	display: flex;
	flex-direction: column;
	padding: 0 24px;
	color: #212121;
	border-top: 1px solid #ddd;
}

.amountSecond {
	display: flex;
}

.amountDetailsSecond {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

}

.amountThd {
	display: flex;
	margin: 20px 0;
}

.amountDetailsThd {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding-bottom: 15px;
}

.total {
	display: flex;
	font-size: 18px;
	color: #212121;
	border-top: 1px dashed #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: space-between;
}
.saved {
	border-top: 1px dashed #e0e0e0;
	padding: 12px 0px;
	color: #388e3c;
	font-size: 16px;
	font-weight: 500;

}
.bank{
	background-color: white;
    margin-top: 20px;
	cursor:pointer;
}
.bankFt{
	display: flex;
    border-bottom:1px solid #ddd;
    justify-content: space-between;
    padding: 22px 17px 20px 28px;
	line-height: 16px;
    letter-spacing: .3px;
	gap:2px;
	color: #111112;
}
.bankFtTxt{
	font-size:12px;
}
.viewall a{
	display: flex;
    justify-content: center;
    /* border-style: none; */
    /* outline: none; */
    text-decoration: none;
    outline: none;
    color: #2a55e5;
    font-size: 14px;
}
.viewall{
	padding: 22px 17px 20px 28px;
	border-bottom:1px solid #ddd;
}
.safe {
	margin-top: 25px;
	cursor:default;
}

.safeContent {
	display: flex;
	gap: 10px;
}

.guardTxt {
	font-size: 14px;
	color: #878787;
}

.footer {
	border-top: 1px solid #ddd;
	margin: 0 auto;
	padding: 25px;
	margin-top: 20px;

}

.footerContents {
	display: flex;
	font-size: 14px;
	color: #565656;
	margin-left: 60px;
}

.return {
	padding: 0px 5px;
	border-right: 1px solid #878787;
	cursor: pointer;
}

.term {
	padding: 0px 5px;
	border-right: 1px solid #878787;
	cursor: pointer;
}

.security {
	padding: 0px 5px;
	border-right: 1px solid #878787;
	cursor: pointer;
}

.privacy {
	padding: 0px 5px;
	border-right: 1px solid #878787;
	cursor: pointer;
}

.infringement {
	padding: 0px 5px;
	border-right: 1px solid #878787;
	cursor: pointer;
}

.footerSecond {
	margin-left: 25px;
}

.footerThird {
	margin-left: 200px;
}

.footerThird span {
	font-size: 14px;
	color: #565656;
}

.footerThird span a {
	text-decoration: none;
	outline: none;
	color: #2874f0;
}
